<section class="vh-100 bg-primary" 
  
  >
  <!-- style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');" -->
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Create an Account</h2>

              <form [formGroup]="formarray" id="registerForm">

                <div class="form-outline mb-4" >
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="username" 
                  placeholder="Username" [ngClass]="{'is-invalid':username?.errors&&isSignup}"/>
                  <!-- <label class="form-label" for="form3Example1cg"></label> -->
                    <div *ngIf="username?.invalid&&(username?.dirty||isSignup)">
                        <div *ngIf="username?.hasError('required')" class="d-flex invalid-feedback">Enter Username.</div>
                    </div>
                </div>

                <div class="form-outline mb-4" >
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" 
                  placeholder="Email" [ngClass]="{'is-invalid':email?.errors&&isSignup}"/>
                  <!-- <label class="form-label" for="form3Example3cg">Email</label> -->
                    <div *ngIf="email?.invalid&&(email?.dirty||isSignup)">
                        <div *ngIf="email?.hasError('required')" class="d-flex invalid-feedback">Enter Email.</div>
                        <div *ngIf="email?.hasError('email')" class="d-flex invalid-feedback">email is incorrect.</div>
                    </div>
                </div>

                <div class="form-outline mb-4" >
                    <input type="text" id="form3Example3cp" class="form-control form-control-lg" formControlName="phoneNumber" 
                    placeholder="Phone 914xxxxxxx" [ngClass]="{'is-invalid':phoneNumber?.errors&&isSignup}"/>
                    <!-- <label class="form-label" for="form3Example3cg">Email</label> -->
                      <div *ngIf="phoneNumber?.invalid&&(phoneNumber?.dirty||isSignup)">
                          <div *ngIf="phoneNumber?.hasError('required')" class="d-flex invalid-feedback">Enter PhoneNumber.</div>
                          <div *ngIf="phoneNumber?.hasError('pattern')" class="d-flex invalid-feedback">invalid phoneNumber </div>
                      </div>
                  </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password" 
                  placeholder="Password" [ngClass]="{'is-invalid':password?.errors&&isSignup}"/>
                  <!-- <label class="form-label" for="form3Example4cg">Password</label> -->
                    <div *ngIf="password?.invalid&&(password?.dirty||isSignup)">
                        <div *ngIf="password?.hasError('required')" class="d-flex invalid-feedback">Enter Password.</div>
                        <div *ngIf="password?.hasError('minlength')" class="d-flex invalid-feedback">password must be at least 8 characters.</div>
                        <div *ngIf="password?.hasError('maxlength')" class="d-flex invalid-feedback">maximum length of password is 25</div>
                    </div>
                </div>

                <div class="form-outline mb-4" >
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" formControlName="confirmPassword" 
                  placeholder="Repeat Password" [ngClass]="{'is-invalid':confirmPassword?.errors&&isSignup}"/>
                  <!-- <label class="form-label" for="form3Example4cdg">repeat your password</label> -->
                  <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || isSignup)">
                    <div *ngIf="confirmPassword?.hasError('required')" class="d-flex invalid-feedback">please Enter Your password Again.</div>
                    <div *ngIf="confirmPassword?.hasError('missmatch')" class="d-flex invalid-feedback">password does not match.</div>
                    
                  </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3cg">
                    I agree all statements in <a href="" class="text-body"><u>Terms of service {{formarray.valid}}</u></a>
                  </label>
                </div>
                
                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-primary btn-block btn-lg " (click)="onSignupClick()">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? 
                    <a routerLink="/login" routerLinkActive="active"
                    ><u>Login here</u></a></p>

                   
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

