<!-- <div style="height: 50px;" class="d-grid gap-5">
    <div style="height: 10px;">
</div> -->


<div class="container-sm py-5">

  <div class="row align-items-center p-5">

    <div class="col-9 mb-4">
        <h3>GitHub General Privacy Statement</h3>
             <!-- <p>When you use our services, you’re trusting us with your information. We understand 
             this is a big responsibility and work hard to protect your information and put you in control.</p> -->
    </div>


    <div class="col-9 mb-4">
        <h4>GitHub Privacy Statement</h4>
        <hr>
        <p>
          Welcome to the GitHub Privacy Statement. This is where we describe how we handle your “Personal Data”, which is information that is directly linked or can be linked to you. It applies to the Personal Data that GitHub, Inc. or GitHub B.V., processes as the “Data Controller” when you interact with websites, applications, and services that display this Statement (collectively, “Services”). This Statement does not apply
           to services or products that do not display this Statement, such as Previews, where relevant.
        </p> 
    </div>

    <div class="col-9 mb-4">
      <h5>
        End User Notice: Organization-Provided GitHub Accounts
      </h5>

      <p>
        When a school or employer supplies your GitHub account, they assume the role of Data Controller for most Personal Data used in our Services. This enables them to:
      </p>

      <ul>
        <li>Manage and administer your GitHub account, including adjusting privacy settings.</li>
        <li>Access and utilize your Personal Data, which includes details on how you use the Services, as well as your content and files.</li>
      </ul>
      
      <p>
        Should you access a GitHub Service through an account provided by an organization, such as your employer or school, the organization becomes the Data Controller, and this Privacy Statement's direct applicability to you changes. Even so, GitHub remains dedicated to preserving your privacy rights.
         In such circumstances, GitHub functions as a Data Processor, adhering to the Data Controller's instructions regarding your Personal Data's processing. 
        A Data Protection Agreement governs the relationship between GitHub and the Data Controller.
         For further details regarding their privacy practices, please refer to the privacy statement of the organization providing your account.

        In cases where your organization grants access to GitHub products, GitHub acts as the Data Controller solely for specific processing activities.
        These activities are clearly defined in a contractual agreement with your organization, known as a Data Protection Agreement. 
        You can review our standard Data Protection Agreement at GitHub Data Protection Agreement. For those limited purposes, this Statement governs the handling of your Personal Data.
          For all other aspects of GitHub product usage, your organization's policies apply.
      </p>
    </div>

      <div class="col-9 mb-4">
        <h5>
          Third Party Access and Data Protection
        </h5>
        
        <p>
           When you use third-party extensions, integrations, or follow references and links within our Services, the privacy policies of these third parties apply to any Personal Data you provide or consent to share with them. Their privacy statements will govern how this data is processed.</p>
   
          </div>

          <div class="col-9 mb-4">
            <h4>
              Personal Data We Collect
            </h4>
              <hr>
            <p>
              Personal Data is collected from you directly, automatically from your device, and also from third parties. The Personal Data GitHub processes when you use the Services depends on variables like how you interact with our Services (such as through web interfaces, desktop or mobile applications), the features you use (such as pull requests, Codespaces, or GitHub Copilot) and your method of accessing the Services (your preferred IDE). Below, we detail the information we collect through each of these channels:
            </p>

            <h5>
              From You
            </h5>
            <ul>
              <li>Account Data: We collect certain information when you open an account such as your GitHub handle, name, email address, password, payment information and transaction information.</li>
              <li>User Content and Files: When you use our Services, we collect Personal Data included as part of the information you provide such as code, inputs, text, documents, images, or feedback.</li>
              <li>Demographic information: In some cases, you provide us with ethnicity, gender, or similar demographic details.</li>
              <li>Feedback Data: This consists of information you submit through surveys, reviews, or interactive features</li>
              <li>Payment Information: For paid subscriptions, we collect details like name, billing address, and payment specifics.</li>
              <li>Profile Information: We collect information to create a user profile, which may include a photo, additional email addresses, job title, or biography.</li>
              <li>Sales and Marketing Data: This includes information provided for promotional communications, such as name, email address, and company name.</li>
              <li>Support Data: When you seek customer support, we collect details like code, text, or multimedia files.</li>
            </ul>

            <h5>
              Automatically
            </h5>
            <ul>
              <li>Buttons, Tools, and Content from Other Companies: Our Services may contain links or buttons that lead to third-party services like Twitter or LinkedIn. Use of these features may result in data collection. Engaging with these buttons, tools, or content may automatically send certain browser information to these companies. Please review the privacy statements of these companies for more information.</li>
              <li>Essential Cookies and Similar Tracking Technologies: We use cookies and similar technologies to provide essential functionality like storing settings and recognizing you while using our Services.</li>
              <li>Essential Cookies and Similar Tracking Technologies: We use cookies and similar technologies to provide essential functionality like storing settings and recognizing you while using our Services.</li>
              <li>Email Marketing Interactions: Our emails may have web beacons that offer information on your device type, email client, email reception, opens, and link clicks.</li>
              <li>Geolocation Information: Depending on the Service's functionality, we collect regional geolocation data</li>
              <li>Service Usage Information: We collect data about your interactions with the Services, such as IP address, device information, session details, date and time of requests, device type and ID, operating system and application version, information related to your contributions to repositories, and performance of specific features or Services.</li>
              <li>Website Usage Data: We automatically log data about your Website interactions, including the referring site, date and time of visit, pages viewed, and links clicked.</li>

            </ul>


            <h5>
              From Third Parties
            </h5>

            <ul>
              <li>Information from Other Users of the Services: Other users may share information about you when they submit issues and comments. We may also receive information about you if you are identified as a representative or administrator on your company's account.</li>
              <li>Publicly Available Sources: We may acquire information about you from publicly available sources like public GitHub repositories.</li>
              <li>Services you linked to your GitHub account: When you or your administrator integrate third-party apps or services with our Services, we receive information based on your settings with those services. This can include details like your name and email from services like Google for authentication. The information we receive depends on the third-party's settings and privacy policies. Always review these to understand what data is shared with our Services.</li>
              <li>Vendors, Partners, and Affiliates: We may receive information about you from third parties, like vendors, resellers, partners, or affiliates for the purposes outlined in this statement.</li>
            </ul>
          </div>

          <div class="col-9 mb-4">
            <h4>International data transfers</h4>
            <hr>
            <p>
              GitHub stores and processes Personal Data in a variety of locations, including your local region, the United States, and other countries where GitHub, its affiliates, subsidiaries, or subprocessors have operations. We transfer Personal Data from the European Union, the United Kingdom, and Switzerland to countries that the European Commission has not recognized as having an adequate level of data protection. When we engage in such transfers, we generally rely on the standard contractual clauses published by the European Commission under Commission Implementing Decision 2021/914, to help protect your rights and enable these protections to travel with your data. To learn more about the European Commission’s decisions on the adequacy of the protection of personal data in the countries where GitHub processes personal data, see this article on the European Commission website.
            </p>
          </div>

  </div>
</div>

        