

<div class="container-sm py-5">
    <div class="row p-5">
        <div class="col-9 ">
            <h2>What Is Angular?</h2>
            <p>Angular is an open-source, JavaScript framework written in
                TypeScript. Google maintains it, and its primary purpose is to
                develop single-page applications. As a framework, Angular has
                clear advantages while also providing a standard structure for
                developers to work with. It enables users to create large
                applications in a maintainable manner. </p>
        </div>

        <div class="col-9 py-5">
            <h2>Why Do You Need a Framework?</h2>
            <p>Frameworks in general boost web development efficiency and
                performance by providing a consistent structure so that
                developers don’t have to keep rebuilding code from scratch.
                Frameworks are time savers that offer developers a host of extra
                features that can be added to software without requiring extra
                effort.</p>
        </div>

        <div class="col-9">
            <h2>What are the Different Angular Versions</h2>
            <p>“Angular” is the catch-all term for the various framework
                versions out there. Angular was developed in 2009, and as a
                result, there have been many iterations.

                First, there was the original Angular, called Angular 1 and
                eventually known as AngularJS. Then came Angulars 2, 3, 4, 5,
                until finally, the current version, Angular 11, released on
                11/11/2020. Each subsequent Angular version improves on its
                predecessor, fixing bugs, addressing issues, and accommodating
                increasing complexity of current platforms.

                If you want to design apps better suited for mobile devices,
                and/or more complex apps, you had best to upgrade to its current
                version.</p>
        </div>

        <div class="col-9 py-5">
            <h2>Angular tools and setup</h2>
            <p>Here we’ll talk about the main tools that engineers commonly use
                with Angular to get the full benefit of the framework.

                RxJS. It's not likely that you'll be able to work with Angular
                without RxJS, a reactive programming library, aimed at handling
                asynchronous data with multiple events. It allows engineers to
                set up multiple channels of data exchange and ease resource
                consumption.

                Angular CLI. Command-line interface (CLI) is used to create
                projects, add files, perform updates, and deal with debugging,
                testing, and deployment.

                We’ll talk more about RxJS and Angular CLI below.

                Code editors. Currently, many popular code editing products
                support Angular. The most common ones accepted by the community
                include Visual Studio Code, Sublime Text, and surprisingly not -
                Angular IDE, and WebStorm. However, check to determine if your
                favorite code editor fits Angular.</p>
        </div>

        <!-- <div class="d-flex align-item-center">
</div> -->
        <div class="col-9">
            <h2>Pros of Angular</h2>
            <p>The main problem with Angular is that it came to the new world
                dominated by the impact of its leading competitor React (check
                our React vs Angular comparison). And the debate on whether you
                should use Google’s framework or the one from Facebook is quite
                intense. This rivalry should be kept in mind when choosing the
                best-fit instrument for your next project. Now, let’s have a
                look at the main benefits that the technology suggests to the
                engineering community.</p>
        </div>

        <!-- 
    <div style="height: 100px;" class="d-grid gap-5">
        <div style="height: 50px;"></div>    
</div> -->

    </div>
</div>
